.Product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  flex-direction: column;

  &:hover {
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .QuickView {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 165px;
    padding: 10px;
    background: #b9b9b942;
    display: none;
    margin-left: calc((100% - 165px) / 2);
    margin-bottom: 20px;
  }

  .Image {
    position: relative;
    width: 100%;

    .fa-heart-o {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
    }

    .fa-heart {
      position: absolute;
      right: 10px;
      top: 10px;
      color: red;
      font-size: 20px;
    }

    &:hover {
      cursor: pointer;

      .QuickView {
        display: block;
      }
    }
  }

  .ProductImage {
    width: 100%;
  }

  .ProductConfig {
    padding: 20px;
    background: #f9f8f1;
    text-align: left;
    width: 100%;
    height: 85px;
    overflow: hidden;

    .ProductName {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #000;
      margin: 0 !important;
      line-height: 14px;
      text-decoration: underline;
      font-weight: 300;
      text-decoration: none;
    }

    .ProductPrice {
      color: #8f2c34;
      font-size: 18px;
      padding-top: 10px;
      font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      line-height: 15px;
      font-style: normal;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.ProductPath {
  font-size: 16px;
}

.ViewBy {
  min-width: 50%;
  font-size: 16px;

  .BoxContainer {
    display: flex;
    padding: 5px 0px;

    min-width: 50%;
  }

  .ViewType {
    margin-right: 20px;
    padding: 3px;
    border: 1px solid #b9b9b9;
    display: flex;
    justify-content: space-around;

    &:hover {
      cursor: pointer;
    }
  }
}

.SortBy {
  display: flex;
  min-width: 50%;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  .BoxContainer {
    padding: 7px 0px;

    .SortSelect {
      background-color: #f4f2e5;
      height: 28px;
      border: 1px solid #ccc;
      box-shadow: none;
      border-radius: 3px;
      font-weight: 300;
      font-size: 11px;
      padding: 0 5px;
      font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
}

.ProductFilters {
  min-width: 300px;
  padding-right: 50px;
  padding-left: 30px;
  text-align: left;

  .FilterOptions {
    .FilterName {
      padding: 10px 0px;
      color: #000;
      font-size: 13px;
      line-height: 16px;
      padding-left: 0;
      font-weight: 700;
      border-bottom: 1px solid #cacaca;
    }
    .label_txt:hover {
      color: #8f2c34;
    }
    .label_txt:link {
      color: #000;
    }
    .label_txt:visited {
      color: #000;
    }

    .panel-body {
      padding: 8px 0px;
    }

    li {
      list-style: none outside none;
      margin: 0;
      padding: 0;
      font-weight: 300;
      color: #000;

      a {
        cursor: pointer;
        font-size: 12px;
        color: black;

        .count_txt {
          font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: #9b9b9b !important;
          line-height: 10px !important;
          margin-left: 4px !important;
          display: inline-block;
          position: relative;
          top: 0;
        }
      }
    }
  }
}

.ProductHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #f9f8f1;
  padding: 10px;

  .ProductTitle {
    font-size: 20px;
    padding: 10px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    font-family: "Unna", serif;
  }

  .FilterContainer {
    display: flex;
    min-width: 40%;
    font-size: 10px;
    justify-content: space-between;

    .ViewBy {
      min-width: 50%;
      font-size: 12px;
      margin-right: 15px;
      display: flex;
      align-items: center;

      .BoxContainer {
        display: flex;
        padding: 5px 0px;
        min-width: 50%;

        .ViewType1 {
          display: flex;
          justify-content: space-around;
          border: 1px solid #b9b9b9;
          min-width: 37px;
          margin-right: 2px;
          padding: 6px;
          &:hover {
            cursor: pointer;
          }
          &:active {
            .sorted-with {
              background-color: #000;
            }
          }
        }
        .ViewType2 {
          display: flex;
          justify-content: space-around;
          border: 1px solid #b9b9b9;
          min-width: 43px;
          margin-right: 10px;
          padding: 6px;
          &:hover {
            cursor: pointer;
          }
          &:active {
            .sorted-with {
              background-color: #000;
            }
          }
        }
        .sorted-with {
          background-color: rgb(170, 170, 170);
          height: 15px;
          width: 3px;
        }
      }
    }
  }
  .viewByText {
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-right: 7px;
  }
}

.Views {
  border-top: 1px solid #c5c5c5;
  padding: 10px 0px;
  border-bottom: 1px solid #c5c5c5;
}

.filterOptions {
  height: 0;
  visibility: hidden;
  transition: height 1s;
}

@media only screen and (max-width: 720px) {
  .filterOptions {
    height: 0;
    visibility: hidden;
    transition: height 1s;
  }

  .pdl-open {
    display: block;
    visibility: visible;
    height: 100px;
    transition: height 1s;
    padding-top: 20px;
  }

  .FilterMobileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;

    .Category {
      padding: 10px;
      background-color: gray;
      color: white;
      font-weight: bold;
      min-width: 45%;
      position: relative;
      font-size: 15px;

      .fa {
        position: absolute;
        right: 10px;
        top: 12px;
      }
    }
  }
  .Product .ProductImage {
    width: 96%;
  }
  .ViewBy {
    display: flex;
    align-items: center;
    justify-content: center;
    .BoxContainer {
    }
  }
  // .QuickView {
  //   width: 124px;
  //   margin-left: calc((100% - 124px)/2);
  // }
}

@media only screen and (width: 800px) {
  .Product {
    padding-top: 0px;
    .ProductImage {
      padding-top: 0px;
    }
    .ProductConfig {
      padding: 6px 11px;
      height: 52px;
    }
  }
  .ProductListPageContainer {
    justify-content: space-between;
  }
  .DesktopProductListHeader {
    width: 70%;
  }
  .productInfodetail {
    width: 20%;
  }
  .FilterMobileContainer {
    display: none;
  }
  .ProductFilters {
    padding-right: 0px;
    padding-left: 0px;
    min-width: auto;
  }
  .ProductPath {
    text-align: left;
    color: #7f7d75;
    font-size: 12px;
  }
  .ViewBy {
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span {
      margin-right: 8px;
    }
  }

  .ViewType1 {
    display: flex;
    justify-content: space-around;
    border: 1px solid #b9b9b9;
    min-width: 22px;
    margin-right: 5px;
    padding: 6px;
    &:hover {
      cursor: pointer;
    }
    &:active {
      .sorted-with {
        background-color: #000;
      }
    }
  }
  .ViewType2 {
    display: flex;
    justify-content: space-around;
    border: 1px solid #b9b9b9;
    min-width: 32px;
    margin-right: 10px;
    padding: 6px;
    &:hover {
      cursor: pointer;
    }
    &:active {
      .sorted-with {
        background-color: #000;
      }
    }
  }
  .sorted-with {
    background-color: rgb(170, 170, 170);
    height: 15px;
    width: 3px;
  }
  .SortBy {
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    span {
      margin-right: 8px;
    }
  }
  .Product .ProductImage {
    width: 100%;
    // padding: 19px 31px;
  }
  .ProductName {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 0px;
  }
  .ProductCode {
    font-size: 15px;
  }
}
