.navbar-brand {
    .fa-bars {
        font-size: 30px;
        margin-right: 20px;

    }

    display: flex !important;
    align-items: center;
}

.navbar {
    .row {
        margin: 0;
        display: none;

    }
}

.HambburgerSideMenu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100000;
    background-color: white;
    transition: width 1s;

    .MainLogo {
        border-bottom: 1px solid #949494;
        height: 60px;
    }

    .LogoOnHamburger {
        margin-left: 5px;
        padding: 10px;
    }

    .TreeNode {
        width: 100%;
        overflow: scroll;
        height: calc(100% - 70px);
        position: absolute;
        top: 100px;
        z-index: 10000;

        .rstm-tree-item--active {
            background: #a0a0a0;
            box-shadow: none;
            color: white;
            font-weight: 800;
        }

        .rstm-tree-item-group {
            position: absolute;
        }

        .rstm-toggle-icon-symbol {
            font-size: 30px;
        }

        .rstm-tree-item {
            display: flex;
            align-items: center;
        }
    }

    .fa-times {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 20px;
    }
}

.HM-open {
    width: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #f4f2e5;
}

.HM-close {
    width: 0px;
    visibility: hidden;
}

.MyNavContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .navbar-collapse {
        min-height: 100px;
    }

    .navbar-nav {
        justify-content: center;
        width: 100%;
        align-items: center;


    }
}

.SearchInp {
    position: relative;

    .fa-search {
        position: absolute;
        height: 100%;
        padding: 7px;
        right: 0;
        color: gray;
        font-size: 15px;
    }
}

.SearchInput {
    min-width: 300px;
    border: none;
    padding: 6px;
}

.MenuItemContainer {
    display: flex;
    position: relative;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }


    .NavItem {
        padding: 8px;
        min-width: 70px;
        text-align: center;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;

        .fa-chevron-down {
            padding-left: 5px;
            color: #888888;
            font-size: 10px;
        }

        &:hover {
            color: #b96f6f;
            margin-bottom: -4px;
            border-bottom: 4px solid #b96f6f;

        }
    }
}


.HoverElement {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    width: 100%;
    left: -10%;
    background: white;
    min-height: 200px;
    top: 40px;
    padding: 10px;
}