.PromoControls {
    display: flex;
    justify-content: space-between;

    .PromoButton {
        border: none;
        padding: 15px;
        min-width: 40%;
        margin: 10px 0px;
        background: white;
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
    }

    .SlideNumber {
        display: flex;
        min-width: 80px;
        margin: 10px;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
}

.HomeBottom {
    justify-content: center;
}