.LoginModal {
    max-width: 694px;
    width: 694px;
}

.modal-content {

    border-radius: 0;
    background-color: #f4f2e5;

    .modal-body {
        .FormContainer {
            padding: 30px;

            .InputContainer {
                padding: 20px 0px;
                display: flex;
                justify-content: end;
                text-align: left;
                align-items: center;

                span {
                    font-size: 13px;
                    min-width: 25%;
                    font-weight: 700;
                }

                .FormInput {
                    min-width: 55%;
                    margin-left: 20px;
                    height: 39px;
                    background: #f4f2e5;
                    border: 1px solid gray;
                    padding: 10px;
                    border-radius: 3px;
                }
            }

            .FormFooter {
                text-align: center;
                margin-left: 70px;

                .SignInButton {
                    .Button {
                        width: 314px;
                        letter-spacing: 0;
                        font-weight: 700;
                        font-size: 12px;
                        border: 0 none;
                        line-height: 28px;
                        height: 36px;
                        border-radius: 5px;
                        background-color: #e5cc76;
                    }
                }

                .BottomTextContainer {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 88px;
                    padding: 20px;
                    align-items: center;
                    max-width: 67%;

                }

                span {
                    display: flex;
                    align-items: center;
                }

                .TextRed {
                    font-size: 12px !important;
                    color: #902c34;
                    font-weight: normal;
                    display: block;
                    line-height: 15px;
                    margin: 0;
                    width: auto;
                }
            }

            .SignInText {
                font-size: 30px;
                text-align: center;
                font-weight: 700;
                border-bottom: 1px solid;
                padding-bottom: 25px;
            }
        }
    }
}